<Configuration monitorInterval="5">
    <!--Logging configuration for development-->
    <!-- <SystemPropertyArbiter propertyName="logSetting" propertyValue="dev"> -->
        <!--Console appenders for development-->
        <Appenders>
            <Console name="DevConsole" target="SYSTEM_OUT">
                <PatternLayout pattern = "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </Console>
        </Appenders>
        <!--Console log configuration for development-->
        <Loggers>
            <Root level="error">
                <AppenderRef ref="DevConsole"/>
            </Root>
            <Logger name="Calc" level="info">
                <AppenderRef ref="DevConsole"/>
            </Logger>
            <Logger name="UI" level="info">
                <AppenderRef ref="DevConsole"/>
            </Logger>
        </Loggers>
    <!-- </SystemPropertyArbiter> -->

    <!--Logging configuration for production-->
    <!-- <SystemPropertyArbiter propertyName="env" propertyValue="prod">

    </SystemPropertyArbiter> -->
</Configuration>